.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 1vw;
  line-height: 20px;
}

.id-custom {
  display: block;
  margin-top: 0px;
  padding: 0px;
  color: #5c5c5c;
  font-size: 26px;
}

.nav-menu-text {
  position: relative;
  z-index: 1;
  font-style: normal;
  text-decoration: none;
}

.nav-menu-underline {
  height: 13px;
  margin-top: -11px;
  background-color: #fee9bd;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.nav-menu-item {
  padding: 0px 19px;
  color: #5c5c5c;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.brand-custom {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  padding: 3px 0px 0px;
}

.brand-custom.uno {
  display: none;
}

.hp-hero-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 118vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hi-animation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  -webkit-transform: scale(15.4);
  -ms-transform: scale(15.4);
  transform: scale(15.4);
}

.hp-hero-container {
  position: relative;
  top: -26%;
  bottom: auto;
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: scale3d(1none, 1none, 1none);
  transform: scale3d(1none, 1none, 1none);
  font-family: Poppins, sans-serif;
  font-weight: 400;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hp-hero-heading-text {
  position: relative;
  bottom: auto;
  z-index: 9;
  color: #5c5c5c;
  font-size: 46px;
  font-weight: 500;
}

.hp-hero-text-block {
  position: relative;
  bottom: -230px;
}

.hp-hero-description-text {
  margin-top: 25px;
  color: #5c5c5c;
  font-size: 25px;
  text-align: left;
}

.custom-nav-section {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: block;
  width: 100vw;
  height: auto;
  padding: 49px 52px 30px;
  font-family: Poppins, sans-serif;
}

.custom-nav-container {
  position: relative;
  display: block;
  height: auto;
  max-width: 830px;
  margin: auto;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dropdown {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
}

.menu-animation {
  position: absolute;
  left: -12%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50px;
  -webkit-transform: scale(5.2);
  -ms-transform: scale(5.2);
  transform: scale(5.2);
}

.dropdown-toggle {
  top: -4px;
  overflow: hidden;
  padding-right: 20px;
}

.menu-item {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #5c5c5c;
  font-size: 20px;
  text-align: right;
}

.dropdown-list {
  right: -73.8125px;
}

.dropdown-list.w--open {
  top: 45px;
  right: -9.8125px;
  width: 166px;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.hp-portfolio-section {
  position: relative;
  z-index: 2;
  display: block;
  overflow: visible;
  margin-top: 30px;
  padding-top: 140px;
  padding-bottom: 36px;
  font-family: Poppins, sans-serif;
}

.hp-portfolio-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hp-project-symbol-left {
  position: relative;
  left: -166px;
  display: block;
  width: 100%;
  margin-top: 66px;
  margin-bottom: 66px;
  padding: 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hp-project-competencies {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Poppins, sans-serif;
  color: #5c5c5c;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 300;
  text-align: left;
}

.hp-project-competencies.pet-supplies-plus {
  color: #107e31;
}

.hp-project-competencies.reap {
  color: #908065;
}

.hp-project-competencies.cl {
  color: #c98000;
}

.hp-project-title {
  position: static;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: Poppins, sans-serif;
  color: #5c5c5c;
  font-size: 21px;
  line-height: 1.6;
  font-weight: 700;
  text-align: left;
}

.hp-project-title.pet-supplies-plus {
  color: #107e31;
}

.hp-project-title.reap {
  color: #908065;
}

.hp-project-title.cl {
  color: #c98000;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 10px;
}

.hp-project-hero-image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 78vh;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 201, 201, 0.23)), to(rgba(201, 201, 201, 0.23)));
  background-image: linear-gradient(180deg, rgba(201, 201, 201, 0.23), rgba(201, 201, 201, 0.23));
  cursor: none;
}

.hp-project-hero-image.spark {
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 219, 99, 0.16)), to(rgba(255, 219, 99, 0.16)));
  background-image: linear-gradient(180deg, rgba(255, 219, 99, 0.16), rgba(255, 219, 99, 0.16));
  cursor: none;
}

.hp-project-hero-image.pet-supplies-plus {
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 172, 73, 0.06)), to(rgba(30, 172, 73, 0.06)));
  background-image: linear-gradient(180deg, rgba(30, 172, 73, 0.06), rgba(30, 172, 73, 0.06));
  cursor: none;
}

.hp-project-hero-image.ddco {
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 110, 255, 0.06)), to(rgba(0, 110, 255, 0.06)));
  background-image: linear-gradient(180deg, rgba(0, 110, 255, 0.06), rgba(0, 110, 255, 0.06));
  cursor: none;
}

.hp-project-hero-image.reap {
  overflow: visible;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(175, 155, 123, 0.13)), to(rgba(175, 155, 123, 0.13)));
  background-image: linear-gradient(180deg, rgba(175, 155, 123, 0.13), rgba(175, 155, 123, 0.13));
  background-position: 0px 0px;
  background-size: auto;
  cursor: none;
}

.hp-project-hero-image.hs {
  overflow: visible;
  border-radius: 20px;
  background-color: rgba(249, 79, 235, 0.06);
}

.hp-project-hero-image.cl {
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 240, 221, 0.66)), to(rgba(249, 240, 221, 0.66)));
  background-image: linear-gradient(180deg, rgba(249, 240, 221, 0.66), rgba(249, 240, 221, 0.66));
}

.menu-item-text {
  font-style: normal;
  font-weight: 400;
}

.nav-menu {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-top: 8px;
}

.project-hero-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 166vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(30, 172, 73, 0.06);
}

.project-hero-section.spark {
  height: 166vh;
  background-color: rgba(255, 219, 99, 0.16);
}

.project-hero-section.ddco {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 111, 255, 0.06);
}

.project-hero-section.reap {
  background-color: rgba(175, 155, 123, 0.13);
}

.project-hero-section.hs {
  background-color: rgba(249, 79, 235, 0.06);
}

.project-hero-container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 780px;
  padding-right: 6px;
  padding-left: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.project-hero-container.ddco {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hp-project-deets-left {
  position: absolute;
  left: 6%;
  top: auto;
  right: auto;
  bottom: 10%;
}

.hp-project-description-left {
  position: absolute;
  left: 6%;
  top: 10%;
  right: auto;
  bottom: auto;
  width: 13ch;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #c98000;
  font-size: 38px;
  line-height: 1.3;
  font-weight: 500;
}

.hp-project-description-left.pet-supplies-plus {
  color: #107e31;
}

.hp-project-description-left.reap {
  width: 14ch;
  color: #908065;
}

.hp-project-symbol-right {
  position: relative;
  right: -166px;
  margin-top: 66px;
  margin-bottom: 66px;
  padding-right: 11px;
  padding-left: 11px;
}

.hp-project-symbol-right.nfa {
  display: none;
}

.hp-project-description-right {
  position: absolute;
  left: auto;
  top: 10%;
  right: 6%;
  bottom: auto;
  width: 13ch;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #db47d0;
  font-weight: 500;
  text-align: right;
}

.hp-project-description-right.spark {
  color: #e6b000;
}

.hp-project-description-right.ddco {
  width: 17ch;
  color: #0049a8;
}

.hp-project-description-right.hs {
  width: 21ch;
}

.hp-project-deets-right {
  position: absolute;
  left: auto;
  top: auto;
  right: 6%;
  bottom: 10%;
}

.hp-project-title-right {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #5c5c5c;
  font-size: 21px;
  line-height: 1.6;
  text-align: right;
}

.hp-project-title-right.spark {
  color: #e6b000;
}

.hp-project-title-right.ddco {
  color: #0049a8;
}

.hp-project-title-right.hs {
  color: #db47d0;
}

.hp-project-competencies-right {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #5c5c5c;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  text-align: right;
}

.hp-project-competencies-right.spark {
  color: #e6b000;
}

.hp-project-competencies-right.ddco {
  color: #0049a8;
}

.hp-project-competencies-right.hs {
  color: #db47d0;
}

.project-description-section {
  width: 100vw;
  padding-top: 0px;
}

.project-description-container {
  max-width: 780px;
  margin: 162px auto 99px;
  padding-right: 33px;
  padding-left: 33px;
  color: #5c5c5c;
}

.project-hero-heading {
  margin-bottom: 0px;
  color: #107e31;
  font-size: 66px;
  font-weight: 500;
}

.project-hero-heading.spark {
  color: #e6b000;
}

.project-hero-heading.ddco {
  color: #0049a8;
}

.project-hero-heading.reap {
  color: #908065;
}

.project-hero-heading.hs {
  color: #e24ad6;
}

.project-hero-description {
  margin-top: 45px;
  margin-bottom: 91px;
  color: rgba(15, 126, 50, 0.32);
  font-size: 52px;
  font-weight: 500;
}

.project-hero-description.spark {
  margin-right: auto;
  margin-left: auto;
  color: rgba(243, 187, 0, 0.44);
  text-align: center;
}

.project-hero-description.spark.qwertyui {
  color: #feedbe;
}

.project-hero-description.ddco {
  color: rgba(82, 157, 255, 0.42);
  line-height: 1.4;
  text-align: center;
}

.project-hero-description.reap {
  color: rgba(175, 155, 123, 0.41);
  line-height: 1.4;
  text-align: center;
}

.project-hero-description.hs {
  color: rgba(249, 79, 235, 0.35);
}

.project-description-grid {
  margin-top: 66px;
}

.project-description-blurb {
  margin-bottom: 135px;
  font-family: Poppins, sans-serif;
  color: #5c5c5c;
  font-size: 23px;
  line-height: 1.9;
}

.project-description-blurb.ddco {
  color: #5c5c5c;
}

.project-process-section.psp {
  background-color: #f4faf5;
}

.project-process-container {
  position: relative;
  max-width: 780px;
  margin-top: 97px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 66px;
  padding-bottom: 126px;
}

.project-wireframe-section.reap {
  text-align: center;
}

.bold-text {
  color: #5c5c5c;
  font-weight: 400;
}

.div-block {
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
}

.image {
  padding-top: 23px;
}

.grid {
  padding: 0px;
  grid-column-gap: 56px;
  grid-row-gap: 108px;
  -ms-grid-columns: 0.32fr 1fr;
  grid-template-columns: 0.32fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  line-height: 1.9;
}

.grid.spark {
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6px;
  padding-left: 6px;
}

.challenge-title {
  font-family: Poppins, sans-serif;
  color: #5c5c5c;
  font-size: 23px;
}

.solution-title {
  font-family: Poppins, sans-serif;
  font-size: 23px;
}

.project-challenge {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.project-solution {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.cursor {
  display: block;
  font-size: 56px;
}

.cursor.spark {
  position: static;
  left: 0%;
  top: -1%;
  right: 0%;
  bottom: 0%;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 97px;
}

.cursor.psp {
  position: static;
  z-index: 10000;
  display: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 65px;
}

.cursor.ddco {
  display: none;
  font-size: 66px;
}

.cursor.reap {
  display: none;
  font-size: 76px;
}

.cursor.hs {
  display: none;
}

.cursor.cl {
  display: none;
}

.cursor-war {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.image-3 {
  margin-right: auto;
  margin-left: auto;
}

.lottie-animation {
  height: 100vh;
}

.reap-hero-img {
  position: absolute;
  left: auto;
  top: 11%;
  right: -36%;
  bottom: 0%;
  overflow: visible;
  max-width: 70%;
}

.image-4 {
  position: absolute;
  left: -42%;
  top: -66px;
  max-width: 90%;
}

.hs-hero-img {
  position: absolute;
  left: -36%;
  top: 11%;
  max-width: 70%;
}

.spark-hero-img {
  position: absolute;
  left: -36%;
  top: 11%;
  z-index: 12;
  max-width: 70%;
}

.psp-hero-img {
  position: absolute;
  top: 11%;
  right: -36%;
  max-width: 70%;
}

.ddc {
  position: absolute;
  left: -36%;
  top: 11%;
  max-width: 70%;
}

.ddco-hero-image {
  position: absolute;
  left: -36%;
  top: 11%;
  max-width: 70%;
}

.image-5 {
  background-image: url('../images/logo-process.png');
  background-position: 0px 0px;
  background-size: auto;
  background-attachment: fixed;
}

.section {
  width: 100vw;
}

.logo-iterations {
  height: 66vh;
  background-image: url('../images/logo-process.png');
  background-position: 79% 50%;
  background-size: auto;
  background-attachment: fixed;
}

.image-6 {
  padding: 0px 217px 128px 128px;
}

.image-7 {
  margin-top: 66px;
  padding: 34px;
  opacity: 1;
}

.image-8 {
  position: absolute;
  top: -37%;
  right: 26%;
  z-index: 1;
  max-width: 66%;
}

.medium-section {
  position: relative;
  z-index: 0;
  display: block;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.medium-list {
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 161px;
  padding-bottom: 83px;
  grid-column-gap: 21px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-3 {
  background-color: #fdbc00;
  opacity: 0.66;
}

.div-block-4 {
  background-color: #fdbc00;
  opacity: 0.66;
}

._2m {
  border-radius: 20px;
  background-color: #fdbc00;
  opacity: 0.66;
}

._1m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fee9bd;
  opacity: 1;
}

.headin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 42px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  opacity: 1;
  font-family: Poppins, sans-serif;
  color: #b67400;
  font-size: 256%;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.headin.m2 {
  color: #3c2600;
  text-decoration: none;
}

.project-chalsol-section {
  padding-bottom: 114px;
}

._3m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(250, 241, 221, 0.65);
  font-family: Poppins, sans-serif;
  color: rgba(255, 179, 45, 0.6);
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
}

.link {
  line-height: 1.4;
  text-decoration: none;
}

.get-in-touch {
  height: 140vh;
}

.div-block-6 {
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
}

.socials {
  max-width: 780px;
  margin-top: 43px;
  margin-right: auto;
  margin-left: auto;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.link-block-2 {
  text-decoration: none;
}

.html-embed {
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 991px) {
  .id-custom {
    margin-top: 0px;
    padding-left: 0px;
  }

  .hi-animation {
    display: block;
    width: 40vw;
  }

  .hp-portfolio-section {
    overflow: hidden;
  }

  .hp-project-symbol-left {
    left: 0px;
  }

  .hp-project-hero-image.spark {
    overflow: hidden;
    background-color: #fef9e7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: linear-gradient(180deg, transparent, transparent);
    background-repeat: repeat;
  }

  .hp-project-hero-image.pet-supplies-plus {
    overflow: hidden;
  }

  .hp-project-hero-image.ddco {
    overflow: hidden;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 110, 255, 0.06)), to(rgba(0, 110, 255, 0.06)));
    background-image: linear-gradient(180deg, rgba(0, 110, 255, 0.06), rgba(0, 110, 255, 0.06));
  }

  .hp-project-hero-image.reap {
    overflow: hidden;
  }

  .hp-project-hero-image.hs {
    overflow: hidden;
  }

  .hp-project-symbol-right {
    right: 0px;
  }

  .project-hero-description.spark {
    line-height: 1.4;
  }

  .grid.spark {
    padding-right: 33px;
    padding-left: 33px;
  }

  .reap-hero-img {
    right: -16%;
  }

  .hs-hero-img {
    left: -16%;
  }

  .spark-hero-img {
    left: -16%;
  }

  .psp-hero-img {
    right: -16%;
  }

  .ddco-hero-image {
    left: -16%;
    top: 11%;
  }

  .medium-list {
    padding-right: 18px;
    padding-left: 18px;
  }
}

@media screen and (max-width: 767px) {
  .id-custom {
    font-weight: 400;
  }

  .nav-menu-text {
    display: block;
  }

  .nav-menu-item {
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .brand-custom.dos {
    display: none;
  }

  .brand-custom.uno {
    display: block;
  }

  .hp-hero-section {
    z-index: 3;
    overflow: hidden;
    height: 93vh;
    margin-bottom: 78px;
    padding-bottom: 0px;
  }

  .hi-animation {
    left: 42%;
    top: 120%;
    right: 0%;
    display: block;
    width: 13vw;
    height: 60px;
  }

  .hp-hero-heading-text {
    font-size: 42px;
  }

  .hp-hero-description-text {
    font-size: 27px;
  }

  .custom-nav-section {
    height: 113px;
    background-color: transparent;
  }

  .dropdown {
    display: block;
  }

  .hp-portfolio-section {
    padding-top: 38px;
  }

  .body {
    overflow: visible;
  }

  .hp-project-hero-image.hs {
    overflow: hidden;
  }

  .menu-item-text {
    color: #5c5c5c;
  }

  .nav-menu {
    display: none;
  }

  .project-hero-section.spark {
    height: 145vh;
  }

  .hp-project-description-left {
    font-size: 32px;
  }

  .hp-project-description-right {
    width: 20ch;
    font-size: 32px;
  }

  .project-hero-heading.spark {
    font-size: 52px;
  }

  .project-hero-heading.ddco {
    line-height: 66px;
    text-align: center;
  }

  .project-hero-description.spark {
    font-size: 42px;
  }

  .cursor.spark {
    position: static;
    left: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
  }

  .cursor-war {
    display: none;
    width: 0vw;
    height: 0vh;
  }

  .reap-hero-img {
    top: 25%;
    right: -23%;
  }

  .hs-hero-img {
    left: -23%;
    top: 25%;
  }

  .spark-hero-img {
    left: -23%;
    top: 25%;
  }

  .psp-hero-img {
    top: 25%;
    right: -23%;
  }

  .ddco-hero-image {
    left: -23%;
    top: 26%;
  }

  .medium-list {
    max-width: 568px;
    grid-auto-columns: minmax(200px, 0.25fr);
    grid-row-gap: 64px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .headin {
    padding-right: 46px;
    padding-left: 46px;
  }

  ._3m {
    padding-top: 42px;
    padding-bottom: 42px;
    color: #ffb83b;
  }

  .link-block {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .hp-hero-section {
    margin-bottom: 5px;
  }

  .hp-hero-heading-text {
    font-size: 30px;
    text-align: center;
  }

  .hp-hero-description-text {
    font-size: 17px;
  }

  .custom-nav-section {
    background-image: none;
  }

  .hp-project-competencies.pet-supplies-plus {
    display: none;
  }

  .hp-project-competencies.reap {
    display: none;
  }

  .hp-project-competencies.cl {
    display: none;
  }

  .project-hero-section.spark {
    height: 126vh;
  }

  .hp-project-description-left {
    width: 12ch;
    font-size: 27px;
  }

  .hp-project-description-right {
    width: 17ch;
    font-size: 27px;
  }

  .hp-project-description-right.spark {
    width: 15ch;
  }

  .hp-project-description-right.ddco {
    width: 13ch;
  }

  .hp-project-competencies-right.spark {
    display: none;
  }

  .hp-project-competencies-right.ddco {
    display: none;
  }

  .hp-project-competencies-right.hs {
    display: none;
  }

  .project-hero-heading.spark {
    font-size: 49px;
  }

  .project-hero-heading.ddco {
    font-size: 47px;
  }

  .project-hero-description.ddco {
    font-size: 36px;
  }

  .project-description-blurb.spark {
    font-size: 21px;
  }

  .grid.spark {
    padding-right: 33px;
    padding-left: 33px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid.ddco {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .reap-hero-img {
    top: 40%;
    right: 5%;
  }

  .hs-hero-img {
    left: 5%;
    top: 40%;
  }

  .spark-hero-img {
    left: 5%;
    top: 40%;
  }

  .psp-hero-img {
    top: 40%;
    right: 5%;
  }

  .ddco-hero-image {
    left: 5%;
    top: 40%;
  }

  .logo-iterations {
    background-position: 0% 50%;
  }

  .medium-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .headin {
    color: #8c805d;
  }

  .headin.m2 {
    color: #503d00;
  }
}

#w-node-d8007a67-71ff-3a25-6b95-3ed3639056aa-2b863ebc {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_146eb404-7e62-58ab-065c-3dc2e9fd3ddd-2b863ebc {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

#w-node-_4418dd09-da8a-fe27-cacc-522a0e7f4bfe-2b863ebc {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-d8007a67-71ff-3a25-6b95-3ed3639056aa-2b863ebc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_146eb404-7e62-58ab-065c-3dc2e9fd3ddd-2b863ebc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_4418dd09-da8a-fe27-cacc-522a0e7f4bfe-2b863ebc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

